.hero {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url(../../public/set.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .left {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 600px !important;
}

.hero .left h1 {
    color: #fff;
    width: 450px;
    font-size: 120px;
    text-align: center;
    line-height: 124px;
}

.subheading {
    text-align: center;
    font-size: 36px;
}

.posters img {
    width: calc(100% / 6) !important;
    height: 300px !important;
    object-fit: cover !important;
    margin: 0 !important;
}
